.metadata/
../.metadata/

# Eclipse
.classpath
../classpath

.project
../.project

.settings/
../.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
bin/
../bin

log/
../log/

target/
../target/

# Compiled class file
*.class
../*.class

# Log file
*.log
../*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
../*.jar
../*.war
../*.ear
../*.zip
../*.tar.gz
../*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

protobuf-3.0.0/
interview-questions/
